@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

.bodyAcitve {
  background-color: rgba(21, 22, 29, 0.5);
  overflow: hidden;
}

#scrollTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #106964;
  color: #fff;
  padding: 10px;
  display: none;
  z-index: 997;
  font-size: 30px;
}

#coverDiv {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 998;
  top: 0;
  left: 0;
  background-color: rgba(21, 22, 29, 0.5);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  background-color: #15161d;
  border-bottom: 3px solid #106964;
}

#nav {
  width: 50%;
  text-align: right;
}

#logo {
  width: 30%;
  padding: 10px;
  color: #fff;
}

#logo h1 {
  font-size: 50px;
  font-family: 'Saira Stencil One', cursive;
}

#greenHeading {
  color: #106964;
  text-transform: uppercase;
}

#menu li {
  display: inline-block;
  padding: 30px;
  position: relative;
}

#menu li a {
  color: #fff;
  font-size: 25px;
  font-family: 'Prata', serif;
}

#menu li a::after {
  content: "";
  display: block;
  width: 0;
  background: #106964;
  height: 2px;
  -webkit-transition: .5s;
  transition: .5s;
}

#menu li a:hover::after {
  width: 100%;
}

#responsive {
  color: #fff;
  display: none;
  text-align: right;
  padding: 10px 0px;
}

#responsive i {
  font-size: 30px;
}

#podmeni {
  position: absolute;
  width: 100%;
  display: none;
  left: 0;
  background: #15161d;
  text-align: center;
  z-index: 100;
}

#slider {
  position: relative;
  width: 100%;
  background: #15161d;
}

#next, #prev {
  position: absolute;
  color: #fff;
  font-size: 50px;
  z-index: 100;
  top: 40%;
}

#next {
  right: 10px;
}

#prev {
  left: 10px;
}

#slideImg {
  position: relative;
}

.message {
  font-family: 'Saira Stencil One', cursive;
  background-color: rgba(21, 22, 29, 0.5);
  position: absolute;
  width: 50%;
  top: 35%;
  text-align: center;
  left: 0;
  color: #fff;
  z-index: 2;
  right: 0;
  margin: 0px auto;
}

.message h1 {
  font-size: 60px;
  margin-bottom: 30px;
  word-spacing: 10px;
}

.message h2 {
  font-size: 40px;
}

.slideFade {
  -webkit-animation: fade .8s ease-in-out;
          animation: fade .8s ease-in-out;
}

.slideMessage {
  -webkit-animation: slide 1.5s;
          animation: slide 1.5s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide {
  0% {
    top: -100%;
  }
  100% {
    top: 35%;
  }
}

@keyframes slide {
  0% {
    top: -100%;
  }
  100% {
    top: 35%;
  }
}

#about {
  background-color: #15161d;
  color: #fff;
  padding: 30px 0px;
}

#textAbout {
  width: 70%;
  margin: 0px auto;
}

#textAbout h2 {
  font-size: 50px;
  font-family: 'Saira Stencil One', cursive;
  text-align: center;
  margin: 20px 0px;
}

#textAbout p {
  font-size: 25px;
  padding: 20px;
  text-align: justify;
}

#textAbout img {
  display: none;
}

.textAbout {
  padding: 20px;
  position: relative;
  margin: 20px 0px;
  border-bottom: 2px solid #106964;
}

.textAbout p {
  font-size: 25px;
  text-align: justify;
  display: none;
}

.textAbout h2 {
  font-size: 35px;
  cursor: pointer;
}

.plus {
  text-align: center;
  display: block;
  font-size: 35px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.plusActive {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.colorHeading {
  color: #106964;
}

#bestSellers {
  text-align: center;
  padding: 20px;
  margin: 20px 0px;
}

#bestSellers h2 {
  font-size: 50px;
  font-family: 'Saira Stencil One', cursive;
  color: #15161d;
}

#wrapper, #wrapperProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  margin: 20px auto;
  width: 70%;
}

.bestSeler, .product {
  width: 20%;
  color: #15161d;
  position: relative;
  cursor: pointer;
  padding: 20px;
}

.bestSeler h3, .product h3 {
  font-size: 30px;
}

.bestSeler span, .product span {
  color: #106964;
  font-size: 30px;
  display: block;
  margin-top: 10px;
}

.bestSeler a, .product a {
  color: #15161d;
  display: inline;
}

.options {
  margin-top: 10px;
  opacity: 0;
  padding: 10px;
  -webkit-transition: .5s;
  transition: .5s;
  border-top: 1px solid rgba(21, 22, 29, 0.5);
}

.options button {
  font-size: 25px;
  background-color: #15161d;
  color: #fff;
  width: 100%;
  margin: 5px 0px;
  border: none;
  padding: 10px;
}

.options button:hover {
  background-color: #106964;
}

.optionsOpacity {
  opacity: 1;
}

.buynow {
  font-size: 25px;
  background-color: #15161d;
  color: #fff;
  width: 100%;
  margin: 5px 0px;
  border: none;
  padding: 10px;
}

.buynow:hover {
  background-color: #106964;
}

#products {
  text-align: center;
  margin: 30px 0px;
}

#products h2 {
  font-size: 50px;
  font-family: 'Saira Stencil One', cursive;
}

.filterbtn {
  display: inline-block;
  padding: 20px;
  border: 2px solid #15161d;
  background-color: transparent;
  outline: none;
  border: 2px solid #15161d;
  margin: 30px 20px;
  font-size: 25px;
  -webkit-transition: .5s;
  transition: .5s;
  width: 20%;
}

.filterActive {
  background: #106964;
  color: #fff;
}

.fixedDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  width: 80%;
  background-color: #fff;
  left: 0;
  max-height: 100%;
  right: 0;
  overflow-y: scroll;
  margin: 0px auto;
  z-index: 999;
  top: 5%;
}

.product {
  width: 22%;
  cursor: pointer;
}

.detailImg {
  width: 30%;
  padding: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detaliName {
  width: 50%;
  text-align: center;
  padding: 30px 10px;
  margin: 30px auto;
}

.detaliName ul li {
  text-align: center;
  margin: 20px auto;
  padding: 10px 0px;
}

.detaliName ul li::after {
  content: '';
  display: block;
  width: 80%;
  margin: 10px auto;
  background-image: -webkit-gradient(linear, right top, left top, from(#fff), color-stop(#15161d), to(#fff));
  background-image: linear-gradient(to left, #fff, #15161d, #fff);
  height: 2px;
}

#contact {
  background-image: url("../images/newsletter.png");
  background-size: cover;
  background-position: center;
  padding: 40px;
}

#newsletter {
  width: 60%;
  text-align: center;
  margin: 20px auto;
  color: #fff;
}

#newsletter h2 {
  font-size: 50px;
  font-family: 'Saira Stencil One', cursive;
}

#newsletter input {
  padding: 10px;
  width: 50%;
  margin: 50px auto;
  margin-bottom: 20px;
}

#sign {
  font-size: 25px;
  background-color: #15161d;
  color: #fff;
  width: 100%;
  margin: 5px 0px;
  border: none;
  padding: 10px;
  width: 20%;
  background-color: #fff;
  color: #15161d;
  margin: 30px 0px;
}

#sign:hover {
  background-color: #106964;
}

#newsMessage {
  font-size: 25px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #15161d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footnav, .social {
  width: 30%;
  color: #fff;
  text-align: center;
  padding: 20px;
  border: none;
}

#footnav li, .social li {
  display: inline-block;
  padding: 20px;
}

#footnav li a, .social li a {
  color: #fff;
  font-size: 20px;
}

#order {
  background-color: #15161d;
  padding: 20px;
}

#order h2 {
  font-size: 60px;
  text-align: center;
  color: #fff;
}

#order select, #order textarea, #order input {
  padding: 0px 10px;
  outline: none;
}

#orderForm {
  width: 60%;
  background: #fff;
  margin: 30px auto;
  border: 2px solid #106964;
  padding: inherit;
}

.personalInfo {
  margin: 0px auto;
  width: 80%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.personalInfo input {
  font-size: 25px;
  width: 80%;
}

.personalInfo label {
  font-size: 25px;
  padding: 10px;
}

#city {
  width: 40%;
}

#zip {
  width: 20%;
}

#pay {
  width: 80%;
  margin: 0px auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#pay span {
  font-size: 30px;
}

#pay label {
  font-size: 20px;
}

#pay input {
  margin: 20px 10px;
}

.pay {
  border: 2px solid #106964;
}

#additional {
  padding: 15px 0px;
}

#additional select, #additional input {
  padding: 10px;
}

.close {
  position: absolute;
  top: 10px;
  cursor: pointer;
  font-size: 40px;
  right: 20px;
}

#add {
  font-size: 25px;
  background-color: #15161d;
  color: #fff;
  width: 100%;
  margin: 5px 0px;
  border: none;
  padding: 10px;
  width: 25%;
  margin: 0px auto;
}

#add:hover {
  background-color: #106964;
}

.hide {
  visibility: hidden;
}

#finish {
  text-align: center;
  font-size: 25px;
}

#finish button {
  font-size: 25px;
  background-color: #15161d;
  color: #fff;
  width: 100%;
  margin: 5px 0px;
  border: none;
  padding: 10px;
  width: 40%;
  margin-top: 15px;
}

#finish button:hover {
  background-color: #106964;
}

#finish p {
  display: none;
  color: #106964;
}

.inputError {
  border: 3px solid #106964;
}

.reqgreen {
  color: #106964;
  margin-left: 5px;
}

#finishMessage {
  padding: 20px;
}

#finishMessage h2 {
  font-size: 30px;
  color: #fff;
}

.finishCorrect {
  background-color: #73ff38;
}

.finishWrong {
  background-color: #106964;
}
/*# sourceMappingURL=style.css.map */